<h3 class='title'>{{part}}</h3>
<div class='col-xs-2 sequencerNotes'>
    <div class='noteSelectLabels'>
        <div class='noteLabel'>Note: </div>
        <div class='octiveLabel'>Tone: </div>
    </div>
    <div class='noteDiv' ng-repeat="input in notesInputs track by $index">
        <select class='col-xs-8 noteSelect' ng-options="note as note for note in noteOptions" ng-model="noteSelected" ng-change="selectedANote({{$index}}, noteSelected)"></select>
        <select class='col-xs-4 octiveSelect' name='option' ng-model="optionSelected" ng-change="selectedAnOption({{$index}}, optionSelected)">
            <option selected disabled>{{optionSelected || octOptions[$index]}}</option>
            <option value="1">1</option> 
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <h6>{{noteSelected || noteOptions[$index]}}</h6>
    </div>
</div>
<div class='col-xs-8'>
    <canvas ng-click="updateFirebase()" nx="matrix" id="matrix{{part}}">
    </canvas>
    <label id="rangeVol">Volume: {{currentVolume}}</label>
    <input type="range" min="0" max="10" default='1' class="form-control" ng-model="currentVolume"
        ng-change="updateVolume()">
    </input>
</div>
<div class="container sequencerControls">
    <button type="button" class="btn btn-style" ng-click="addRow()">Add Note</button>
    <button type="button" class="btn btn-style" ng-click="removeRow()">Remove Note</button>
    <button type="button" class="btn btn-style" ng-click="clearMatrix()">Clear</button>
</div>
